---
layout: default
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<link rel="stylesheet" href="assets/css/disclaimer.css" />
<script src="assets/js/Disclaimer.js"></script>
<script src="assets/js/common.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper2">
      <section>
{% assign num = page.photos.size %}

<h1>{{ page.title }}</h1>
<ul>
  {% for i in (1..num) %}
  <li>
    <img src="{{ site.baseurl }}/images/photos/{{ page.photos.set }}-{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}">
  </li>
  {% endfor %}
</ul>
<div>
  <a href="{{ site.baseurl }}/photos/">View All Photo Sets</a>
</div>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <span>
        <a href="https://discord.com/invite/ZxNwCkKANn" target="_blank">
        <img src="http://cyber.dabamos.de/88x31/discord2.gif" />
        </a>
        <a href="https://www.youtube.com/watch?v=-G8ss5GmVzw" target="_blank">
        <img src="https://media.discordapp.net/attachments/611208465611751470/1054187449905074226/button_2.gif" />
        </a>
        </span>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
